<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>destination</title>
</head>
<body>
<h3>Destination: {{ location.destination }}</h3>
<p>Planner: {{ location.creator.first }} {{ location.creator.last }}</p>
<p>Description: {{ location.description }}</p>
<p>Starts: {{ location.travel_start|date:"M d Y" }}</p>
<p>Ends: {{ location.travel_end|date:"M d Y" }}</p>
<br>
<br>
<h4>Other users</h4>
<ul>
{% for other in others %}
    <li>{{ other.first }}</li>
    {% endfor %}
</ul>
<a href="/log_out">Log out</a>
<a href="/travels">Home</a>
</body>
</html>