<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>travels</title>
</head>
<body>
<form action="/log_out">
    <input type="submit" value="Log out">
</form>
<h1>Welcome {{ user.name }}</h1>
<p>{{ been_poked.count }} people poked you!</p>
{% for poke in been_poked %}
    {{ poke.poker.name }} poked you {{ poke.poke_count }} times <br>
{% endfor %}



{% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
{% endif %}


<h4>People you may want to poke:</h4>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Email Address</th>
        <th>Poke History</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for people in pokes %}
        <tr>
            <td>{{ people.pokee.name }}</td>
            <td>{{ people.pokee.alias }}</td>
            <td>{{ people.pokee.email }}</td>
            <td>{{ people.poke_count}}</td>
            <td><form action="/add_poke/{{ people.pokee.id }}" method="post">
                {% csrf_token %}
                <input type="submit" name="poke" value="Poke!">
            </form></td>
        </tr>
    {% endfor %}
    {% for people in peoples %}
        <tr>
            <td>{{ people.name }}</td>
            <td>{{ people.alias }}</td>
            <td>{{ people.email }}</td>
            <td>0</td>
            <td><form action="/add_poke/{{ people.id }}" method="post">
                {% csrf_token %}
                <input type="submit" name="poke" value="Poke!">
            </form></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>